In [1]:
import pandas as pd
from matplotlib import pyplot as plt


df = pd.read_csv('https://data.nsw.gov.au/data/dataset/3dc5dc39-40b4-4ee9-8ec6-2d862a916dcf/resource/24b34cb5-8b01-4008-9d93-d14cf5518aec/download/confirmed_cases_table2_age_group.csv')

In [2]:
df.notification_date = pd.to_datetime(df.notification_date, format='%Y-%m-%d')
df.head()

  notification_date       age_group
0        2021-06-29   AgeGroup_0-19
1        2021-06-29   AgeGroup_0-19
2        2021-06-29   AgeGroup_0-19
3        2021-06-29  AgeGroup_20-24
4        2021-06-29  AgeGroup_20-24

In [3]:
dates = df[df.notification_date >= '2021-12-01']

dates2 = dates[dates.age_group == 'AgeGroup_20-24']
dates2.head()

      notification_date       age_group
76183        2021-12-01  AgeGroup_20-24
76184        2021-12-01  AgeGroup_20-24
76185        2021-12-01  AgeGroup_20-24
76186        2021-12-01  AgeGroup_20-24
76187        2021-12-01  AgeGroup_20-24

In [ ]:
len(df)

In [ ]:
'2021-12-01'

In [4]:
df.['AgeGroup_20-24']

SyntaxError: invalid syntax (<ipython-input-4-cbabdcccf840>, line 1)

In [5]:
df[df.age_group == 'AgeGroup_20-24']
len(df[df.age_group == 'AgeGroup_0-19'])

159858

In [6]:
len(df[df.notification_date == '2022-01-02'])

21577

In [8]:
max(df.notification_date)

Timestamp('2022-01-20 00:00:00')

In [9]:
type(df.age_group)

pandas.core.series.Series

In [18]:
m = df.age_group

In [19]:
m = set(m)
type(m)

set

In [20]:
m

{'AgeGroup_0-19',
 'AgeGroup_20-24',
 'AgeGroup_25-29',
 'AgeGroup_30-34',
 'AgeGroup_35-39',
 'AgeGroup_40-44',
 'AgeGroup_45-49',
 'AgeGroup_50-54',
 'AgeGroup_55-59',
 'AgeGroup_60-64',
 'AgeGroup_65-69',
 'AgeGroup_70+',
 'AgeGroup_None'}

In [47]:
d=df.notification_date
d = set(d)

In [27]:
d=list(d)

In [43]:
d=sorted(d)

In [46]:
len(df[df.notification_date == d[200]])

20012

In [44]:
d[1:13]

[Timestamp('2021-06-30 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-02 00:00:00'),
 Timestamp('2021-07-03 00:00:00'),
 Timestamp('2021-07-04 00:00:00'),
 Timestamp('2021-07-05 00:00:00'),
 Timestamp('2021-07-06 00:00:00'),
 Timestamp('2021-07-07 00:00:00'),
 Timestamp('2021-07-08 00:00:00'),
 Timestamp('2021-07-09 00:00:00'),
 Timestamp('2021-07-10 00:00:00'),
 Timestamp('2021-07-11 00:00:00')]